{{define "footer"}}
    </div>
      <center class="footerhome">
        <p><br>Return to <a href="/">Home</a></p>
      </center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <!-- <script src="appes6.js"></script>  -->
  </body>
</html>
{{end}}